<%- include('../Includes/begin.ejs') %>
<%- include('../Includes/student_nav.ejs') %>

<link rel="stylesheet" href="../../CSS/admin-dashboard.css">

<section id="content-wrapper">
            <main role="main" class="pt-5 main">

                <div class="main-content">
                    <div class="header pb-4 pb-sm-8 pt-5 pt-lg-8 d-flex align-items-center"
                        style="height: 100px; background-size: cover; background-position: center top;">

                    </div>
                    <div class="container-fluid mt--7">
                        <div class="row">
                            <form name="uploadAssignment" action="/Student/uploadAssignment" enctype="multipart/form-data" method="POST">
                                <div class="form-group">
                                    <h1><b>Upload Assignment and Home Works</b></h1>
                                </div>
                                <div class="form-group">
                                    <label>Choose your subject</label>
                                    <select class="form-control" id="subjectName" name="subjectName"
                                            required>
                                        <% for(const subjectName of subjectNames) { %>
                                            <option><%= subjectName.name%></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Upload your Assignment</label>
                                    <input id ="fileName" type="file" accept="application/pdf" onChange ="validateFileType()" name="myFile" class="form-control" >
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary">
                                </div>
                            </form>
                            <script type="text/javascript">
                                function validateFileType(){
                                    console.log("err");
                                    var fileName = document.getElementById("fileName").value;
                                    console.log(fileName);
                                    var idxDot = fileName.lastIndexOf(".") + 1;
                                    var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
                                    if (extFile!="pdf"){
                                        alert("Only pdf files are allowed!");
                                        window.location.href = "/student/uploadAssignment";
                                    }
                                }
                            </script>
                        </div>
                        <div>
                            <label>Uploaded files</label>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group focused">
                                        <div class="table-responsive" style="overflow-x: hidden;">
                                            <table class="table table-striped">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th scope="col">uploaded File Name</th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <% for (let i = 0; i < uploadedFile.length; ++i) {%>
                                                <tr>
                                                    <td><%=uploadedFile[i]%></td>
                                                    <td><a href="/student/viewSpecificAssignment/<%= uploadedFile[i] %>" class="btn btn-sm btn-primary">View</a></td>
                                                    <td><a href="/student/editSpecificAssignment/<%= uploadFileId[i] %>" class="btn btn-sm btn-primary">Edit</a></td>
                                                </tr>
                                                <%}%>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>


<%- include('../Includes/student_end.ejs') %>


