<%- include('../Includes/begin.ejs') %>
    <%- include('../Includes/staff_nav.ejs') %>

        <section id="content-wrapper">
            <main role="main" class="pt-5 main">
                <%- include('../Includes/messages') %>
                <div class="header pb-4 pb-sm-8 pt-5 pt-lg-4 d-flex align-items-center"
                    style="max-height: 100px; background-size: cover; background-position: center top;">
                    <h1>Hello <%= user.st_name %>
                    </h1>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">

                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="http://faqs.web-school.in/wp-content/uploads/2017/05/Attendance_2-640x480.jpg"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Mark Attendance</h5>
                                <p class="card-text">Record Daily Attendace of your students here! You cannot edit/update
                                    the records after one month.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/selectClassAttendance" class="btn btn-primary">Mark Attendance</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="http://1.bp.blogspot.com/-nzm908Pfunw/VqXgeRNp4LI/AAAAAAAACJI/wgeVntLSIT8/w1200-h630-p-k-no-nu/status-report.png"
                                alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Student Marks</h5>
                                <p class="card-text">you can enter your students marks
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/studentMarks" class="btn btn-primary">Enter Marks</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                src="https://th.bing.com/th/id/R.91d9782083db11184ff48e5949449fe8?rik=FgeO6b5LJuw1og&riu=http%3a%2f%2fclipground.com%2fimages%2fmaster-the-art-of-clipart-1.jpg&ehk=m1RhJ1i%2fR2O2P3RPUFYFCPkIAS2pL4pkLSPUF68fyUE%3d&risl=&pid=ImgRaw&r=0" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Create Quiz</h5>
                                <p class="card-text">See how well your class is performing! Generate the overall class report (Attendace/Marks) here.
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                    style="color: #fff;">
                                    <a href="/staff/quiz" class="btn btn-primary">Make Quiz</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                 src="https://th.bing.com/th/id/R.5f03841c9dd42b0af3a87f42638a722e?rik=RctNC5SOZXGfkg&riu=http%3a%2f%2fimages.clipartpanda.com%2fassignment-clipart-student-working-clip-art.jpg&ehk=pjvKL4q2xoZgv5uG%2bk5cRbkdTxL%2bS0l%2fW2ERdOKgqIc%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> View Assignments</h5>
                                <p class="card-text">See all the assignments
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                     style="color: #fff;">
                                    <a href="/staff/viewAssignment" class="btn btn-primary">View Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                 src="https://th.bing.com/th/id/R.bc4a7e1061ed37d3f1dd7797162edfbc?rik=Uvp%2bA6iDHl0KWQ&riu=http%3a%2f%2fwoodsholemuseum.org%2fwordpress%2fassignment%2f%3fimg_tkb%3dassignment.jpg&ehk=fQY%2bwFltW4bGYNgvxps6EI8jWDrdjol%2fH5UaK9El7Yw%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="image">
                            <div class="card-body">
                                <h5 class="card-title"> Send Assignments</h5>
                                <p class="card-text">Send Assignments to the students
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                     style="color: #fff;">
                                    <a href="/staff/assignmentsByTeacher" class="btn btn-primary">Send Assignment</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card mb-5" style="box-shadow: 0 1rem 2rem 0 rgba(136, 152, 170, .15) !important;">
                            <img height="250" class="card-img-top"
                                 src="https://th.bing.com/th/id/R.741da444998d83307d8a6b3d47248af0?rik=s9piyU%2bwD%2fbVzA&pid=ImgRaw&r=0" alt="image">
                            <div class="card-body">
                                <h5 class="card-title">Manage Notices</h5>
                                <p class="card-text">Manage notices here (edit/add/remove). All your changes will be
                                    reflected in the database.
                                </p>

                            </div>
                            <div class="card-footer">
                                <div class="btn-wrapper text-center d-flex justify-content-between"
                                     style="color: #fff;">
                                    <a href="/staff/addNotice" class="btn btn-primary">Add</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <h1 class="mb-5"> Notices </h1>
                <div class="row">
                    <% for(notice of notices) { %>
                        <div class="col-sm-4 mb-4">
                            <div class="card">
                                <div class="card-header">
                                    <h3><%= notice.title %></h3>
                                </div>
                                <div class="card-body">
                                    <blockquote class="blockquote mb-0">
                                        <p>   <%= notice.description %></p>
                                        <footer class="blockquote-footer">By<cite title="Source Title">  <%= notice.added_by %> on <%= notice.added_date%> </cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    <% } %>

                </div>
            </main>
        </section>

        <%- include('../Includes/staff_end.ejs') %>
